<% title = "Error | 404" %>
<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col text-center">
            <h1 class="text-danger">404</h1>
            <p>Not Found</p>
        </div>
    </div>
</div>